# Predicción de abandono del servicio en Telecom X

## Preparación de los datos

In [1]:
import pandas as pd

In [6]:
path = 'datos/datos_tratados.csv'
df = pd.read_csv(path)
df.sample(5)

,CustomerID,Churn,Gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,ChargesDaily,ChargesMonthly,ChargesTotal
1363,2027-CWDNU,No,Male,No,Yes,Yes,18,Yes,No,Fiber optic,...,No,Yes,No,Yes,Month-to-month,Yes,Electronic check,2.85,85.60,1601.50
1690,2465-BLLEU,No,Male,No,No,No,1,Yes,No,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,0.66,19.75,19.75
5711,8044-BGWPI,No,Male,No,Yes,Yes,12,Yes,No,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,0.70,21.15,306.05
3833,5384-ZTTWP,No,Female,No,Yes,Yes,15,Yes,No,No,...,No,No,No,No,Month-to-month,No,Mailed check,0.66,19.80,272.95
1520,2230-XTUWL,No,Female,No,Yes,Yes,48,Yes,No,No,...,No,No,No,No,Two year,No,Mailed check,0.65,19.55,883.35

In [7]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CustomerID        7043 non-null   str
 1   Churn             7043 non-null   str
 2   Gender            7043 non-null   str
 3   SeniorCitizen     7043 non-null   str
 4   Partner           7043 non-null   str
 5   Dependents        7043 non-null   str
 6   Tenure            7043 non-null   int64
 7   PhoneService      7043 non-null   str
 8   MultipleLines     7043 non-null   str
 9   InternetService   7043 non-null   str
 10  OnlineSecurity    7043 non-null   str
 11  OnlineBackup      7043 non-null   str
 12  DeviceProtection  7043 non-null   str
 13  TechSupport       7043 non-null   str
 14  StreamingTV       7043 non-null   str
 15  StreamingMovies   7043 non-null   str
 16  Contract          7043 non-null   str
 17  PaperlessBilling  7043 non-null   str
 18  PaymentMethod     7043 non-null   str
 19  ChargesDaily      7043 non-null   float64
 20  ChargesMonthly    7043 non-null   float64
 21  ChargesTotal      7043 non-null   float64
dtypes: float64(3), int64(1), str(18)
memory usage: 1.2 MB

In [9]:
df = df.drop(columns=['CustomerID'])